name: Flat

on:
  push:
    paths:
      - .github/workflows/flat.yml # Only run a new workflow every time this file (flat.yaml) file changes
  workflow_dispatch: # Required even though this is currently empty
  schedule:
    - cron: '33 1 * * *' # Run once a day

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps: # This workflow has 3 steps
      # The first step is to check out the repository so it can read the files inside of it and do other operations
      - name: Check out repo
        uses: actions/checkout@v2
      # This step installs Deno, which is a new Javascript runtime that improves on Node. We'll use it for postprocessing later
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      # The third step is a Flat Action step. We fetch the data in the http_url and save it as downloaded_filename
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: http://oil.gge.gov.gr/?p=15190 # The data to fetch. # WE ARE IN TESTING MODE, FETCH A SPECIFIC DATE ONLY
          downloaded_filename: tmp.html # The http_url gets saved and renamed in our repository as test.html
          postprocess: postprocess.ts # A postprocessing javascript or typescript file written in Deno
          # mask: true # optional param to mask the source http_url from the commit. Look at README for more options
